In [1]:
import pandas as pd
data={'Id':[8001,8061,9019,9002,8009],'Communication':[8,7,6,4,9],'Placed':['Yes','Yes','No','No','Yes']}
df=pd.DataFrame(data)

In [2]:
df

     Id  Communication Placed
0  8001              8    Yes
1  8061              7    Yes
2  9019              6     No
3  9002              4     No
4  8009              9    Yes

In [3]:
df['Communication']>6

0     True
1     True
2    False
3    False
4     True
Name: Communication, dtype: bool

In [4]:
st = [8002,6]
def check(st):
    if st[1]>6:
        return 'Yes'
    else:
        return 'No'

In [5]:
check([8001,8])

'Yes'

In [6]:
#Algorithm Model 
#Decision Tree classifier
#Available DTC

In [7]:
#Decision Tree classifier
# fit(features/Target) i.e fit(input/output) it requires a 2d array as input

In [8]:
import sklearn #Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(df[['Communication']],df['Placed']) #after we run this we get trained model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [9]:
dtc.predict(df[['Communication']]) #it analyses on its own according to dataframe what is going on

array(['Yes', 'Yes', 'No', 'No', 'Yes'], dtype=object)

In [10]:
df['Placed']

0    Yes
1    Yes
2     No
3     No
4    Yes
Name: Placed, dtype: object

In [11]:
#multiple values
dtc.predict([[8],[7],[3]])

array(['Yes', 'Yes', 'No'], dtype=object)

In [12]:
#Labeled Data and Unlabeled
# Labeled means with placed column
# Unlabeled means without placed column

In [14]:
#2nd prob
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [18]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks']) #trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# y=m1x1+m2x2+c
# y= marks
# x1=internal marks
# x2= No of hours

In [19]:
lr.coef_

array([2.5, 2. ])

In [20]:
lr.intercept_

10.000000000000007

In [22]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [24]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64