In [1]:
for i in range(1,11):
    if i%5==0:
        break
    else:
        print(i)

1
2
3
4

In [2]:
for i in range(1,11):
    if i%5==0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [4]:
#write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.
u=input("enter ")
p=input("enter ")
us= 'abc'
pa= 'xyz123'
while True:
    if us==u:
        if pa==p:
            print("Correct")
            break
        else:
            continue
    else:
        continue

enter abc
enter xyz123
Correct

In [2]:
us= 'abc'
pa= 'xyz123'
while True:
    u=input("enter ")
    if us==u:
        p=input("enter ")
        if pa==p:
            print("Correct")
            break
        else:
            continue
    else:
        continue

enter abc
enter xq
enter abc
enter xyz123
Correct

In [4]:

if 12>34:
    pass
    
else:
    print('false')

false

# Functions
# predefined 
## len(), min(),max(),count()
# user defined

In [5]:
#syntax for user defined
# def functionname():
    #statements
    #return

In [8]:
def name(n):
    print("Hello",n)

In [9]:
name(1)

Hello 1

In [12]:
def ad(a,b):
    return a+b,a-b,a*b,a/b

In [13]:
ad(10,20)

(30, -10, 200, 0.5)

In [14]:
add,sub,mul,div=ad(10,20)

In [15]:
add

30

In [16]:
sub

-10

In [17]:
mul

200

In [18]:
div

0.5

In [19]:
#Types of Arguments
#1. Required positional(the no of arguments passed during function definition should match with that passed in function call)
#2. Default argument
#3. Keyword argument
#4. Variable length

In [25]:
# 2. default
def add(a,b=100):  #here a will take b value as 100 as well but we cannot a value and remain b idle that results an error
    return a+b
print(add(100,200))

300

In [27]:
#3.keyword
def add(a,b):
    print("a= ",a)
    print("b= ",b)
    return a+b
add(b=10,a=20)

a=  20
b=  10

30

In [31]:
#4.variable length or args
def ad(*a):
    return sum(a)

In [32]:
ad(1,2,3,4,5,6)

21

In [36]:
#nested function
def sq(a):
    return a**2
def cube(b):
    return sq(b)*b
print(cube(2))
print(sq(2))

8
4

# DATA STRUCTURES:
 ## List
 1. [] elements are separated by
 2. indexed
 3. Ordered
 4. Duplicate Values
 5. Mutable
 6. Any type of Values

In [37]:
Li=[1,2,2.5,True,'a']

In [38]:
Li

[1, 2, 2.5, True, 'a']

In [40]:
type(Li)

list

In [41]:
#opeartors in list +,*,in,not in,indexing,slicing,
li1=[12,34,32]
li2=[11,21,112]
print(li1+li2)

[12, 34, 32, 11, 21, 112]

In [42]:
print(li1*3)

[12, 34, 32, 12, 34, 32, 12, 34, 32]

In [44]:
print(li1[1])

34

In [45]:
print(li2[1:3])

[21, 112]

In [46]:
21 in li2

True

In [47]:
23 in li2

False

In [49]:
21 not in li2

False

In [50]:
23 not in li2

True

In [52]:
# multiple slicings in list
li=[1,2,"hello"]
li[2][2] #here 1st 2 refers to hello and second 2 refers to l which is a t index 2 in hello

'l'

In [53]:
#conversion to list
str="Hello"
list(str)

['H', 'e', 'l', 'l', 'o']

In [56]:
li=[1,2,3,40]
print(len(li))
print(min(li))
print(max(li))

4
1
40

In [57]:
li[2]=100
li

[1, 2, 100, 40]